<form hx-post="/addquestion">
  <div class="label">
    <span class="label-text">Who is the question for?</span>
  </div>
  <input class="input input-bordered" type="text" name="to" placeholder="Joe" />
  <br />

  <div class="label">
    <span class="label-text">What is the question?</span>
  </div>
  <input
    class="input input-bordered"
    type="text"
    name="body"
    placeholder="Who is Joe?"
  />
  <br />
  <br />

  <button class="btn" type="submit">Submit</button>
  <div class="hidden" hx-trigger="every 10s" hx-get="/checkopen"></div>
</form>
