<div hx-target="#main">
  <h1 class="text-xl">{{ .Question.To }}</h1>
  <p class="text-l mb-2">{{ .Question.Body }}</p>
  <p>
    Question {{ inc .Pos }} /
    <span hx-trigger="every 5s" hx-get="/count" hx-target="this"
      >{{ .End }}</span
    >
  </p>

  <div class="join my-2">
    <button class="btn join-item" type="" hx-get="/view?n={{ .Pos }}&a=prev">
      Previous
    </button>
    <button class="btn join-item" type="" hx-get="/view?n={{ .Pos }}&a=next">
      Next
    </button>
  </div>
  <br />

  <button class="btn" type="" hx-get="/leave">Close room</button>
</div>
